FeedbackMessages.Example.WebForms/Scripts/jquery-* linguist-vendored
FeedbackMessages.Example.WebForms/Scripts/WebForms/* linguist-vendored

FeedbackMessages.Example.Mvc/Scripts/jquery-* linguist-vendored
