

@using FeedbackMessages.Extensions;
@using FeedbackMessages.Example.Mvc.Models;

@model FeedbackMessages.Example.Mvc.Models.MessageModel


@Html.FeedbackMessagePanel(true)


@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{

    <div class="ui form" style="padding-top:3em;">
        <div class="field">
            @Html.TextAreaFor(m => m.Message, new { rows = 4 })
        </div>

        <div class="field">
            <input type="submit" name="submitButton" value="SecondPage" class="ui primary button" />
            <input type="submit" name="submitButton" value="Submit" class="ui primary button" />
        </div>
    </div>

}


<hr style="margin:2em;">

<script>

        $(function () {

            $("#btn-ajax-feedback-msg").on("click", function () {
                $.ajax({
                    type: "POST",
                    url: "/Home/AjaxFeedbackMessage",
                    success: function (messageHtml) {
                        if (!messageHtml) {
                            return;
                        }

                        $("#ajax-feedback-msg-container").html(messageHtml);
                    },
                    error: function (jqXHR, status, error) {
                        console.error(error);
                        console.error(status);
                    }
                });
            });
        });
</script>
<button id="btn-ajax-feedback-msg" type="button" class="ui primary button">Lazy Load Feedback Messages</button>
<div id="ajax-feedback-msg-container" style="padding-top:3em;"></div>